@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f0eee6;
  --foreground: #171717;
  --background-dark: #141413;
  --text-light-secondary: #b0aea5;
}

@theme static {
  --max-page-width: 1800px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
